In [6]:
from sklearn.datasets import load_iris
iris = load_iris()

In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.metrics import plot_confusion_matrix
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import plot_roc_curve

In [13]:
df = pd.read_csv('iris.csv')
df

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [14]:
df['variety'].value_counts()

Setosa        50
Versicolor    50
Virginica     50
Name: variety, dtype: int64

In [15]:
df['variety'].drop_duplicates()

0          Setosa
50     Versicolor
100     Virginica
Name: variety, dtype: object

In [16]:
train,test = train_test_split(df, test_size = 0.2 , random_state=0)

In [20]:
train = train.query("variety == 'Versicolor' | variety == 'Virginica'")
test = test.query("variety == 'Versicolor' | variety == 'Virginica'")

     sepal.length  sepal.width  petal.length  petal.width     variety
137           6.4          3.1           5.5          1.8   Virginica
84            5.4          3.0           4.5          1.5  Versicolor
127           6.1          3.0           4.9          1.8   Virginica
132           6.4          2.8           5.6          2.2   Virginica
59            5.2          2.7           3.9          1.4  Versicolor
..            ...          ...           ...          ...         ...
70            5.9          3.2           4.8          1.8  Versicolor
87            6.3          2.3           4.4          1.3  Versicolor
103           6.3          2.9           5.6          1.8   Virginica
67            5.8          2.7           4.1          1.0  Versicolor
117           7.7          3.8           6.7          2.2   Virginica

[81 rows x 5 columns]